@import "assets/styles/variables";

html {
  background-color: $html-background-color;
  transition: $transition-default;

  &,
  body {  
    .section {
      position: relative;
      padding: 0 $section-side-padding;

      .content {
        max-width: $max-content;
        margin: auto;
      }
    }
  }
}
